xxx:
{{!-- <div class="test"> --}}
  {{#ember-countries-phone as |t|}}
    {{t.countrySelect}}
    {{t.phoneInput}}
    <button {{action t.t}}>Hello</button>
  {{/ember-countries-phone}}
{{!-- </div> --}}
