<div class="ember-phone">
  {{ember-phone/country-select country=country}}
  {{ember-phone/phone-input
    phoneNumber=phoneNumber
    disablePhoneInput=disablePhoneInput
    phoneInputValidation=(action "phoneInputValidation")
  }}

  <button {{action "addDialCodeToPhoneNumber"}} disabled={{disabledButton}}>
    Submit
  </button>
</div>
